/* src/styles/global.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #f9e2e7, #fcefe8);
  color: #333;
  /* Patrón sutil de puntos */
  background-image: radial-gradient(circle, #fddde6 1px, transparent 1px);
  background-size: 40px 40px;
}


a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}
